function Square.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
// let x statement
push argument 0
pop this 0

// let y statement
push argument 1
pop this 1

// let size statement
push argument 2
pop this 2

// call Square.draw 1
push pointer 0
// expressionList
call Square.draw 1

pop temp 0
// this
push pointer 0
return



function Square.dispose 0
push argument 0
pop pointer 0
// call Memory.deAlloc 1
// expressionList
// this
push pointer 0
call Memory.deAlloc 1

pop temp 0
push constant 0
return



function Square.draw 0
push argument 0
pop pointer 0
// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
push constant 0
return



function Square.erase 0
push argument 0
pop pointer 0
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
push constant 0
return



function Square.incSize 0
push argument 0
pop pointer 0
// if
push this 1
push this 2
add

push constant 254
lt

push this 0
push this 2
add

push constant 510
lt

and

not
if-goto ELSE_1169
// call Square.erase 1
push pointer 0
// expressionList
call Square.erase 1

pop temp 0
// let size statement
push this 2
push constant 2
add

pop this 2

// call Square.draw 1
push pointer 0
// expressionList
call Square.draw 1

pop temp 0
goto IF_END_1169
label ELSE_1169
label IF_END_1169

push constant 0
return



function Square.decSize 0
push argument 0
pop pointer 0
// if
push this 2
push constant 2
gt

not
if-goto ELSE_1398
// call Square.erase 1
push pointer 0
// expressionList
call Square.erase 1

pop temp 0
// let size statement
push this 2
push constant 2
sub

pop this 2

// call Square.draw 1
push pointer 0
// expressionList
call Square.draw 1

pop temp 0
goto IF_END_1398
label ELSE_1398
label IF_END_1398

push constant 0
return



function Square.moveUp 0
push argument 0
pop pointer 0
// if
push this 1
push constant 1
gt

not
if-goto ELSE_1588
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 2
add

push constant 1
sub

push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
// let y statement
push this 1
push constant 2
sub

pop this 1

// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push this 2
add

push this 1
push constant 1
add

call Screen.drawRectangle 4

pop temp 0
goto IF_END_1588
label ELSE_1588
label IF_END_1588

push constant 0
return



function Square.moveDown 0
push argument 0
pop pointer 0
// if
push this 1
push this 2
add

push constant 254
lt

not
if-goto ELSE_1933
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push this 2
add

push this 1
push constant 1
add

call Screen.drawRectangle 4

pop temp 0
// let y statement
push this 1
push constant 2
add

pop this 1

// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 2
add

push constant 1
sub

push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
goto IF_END_1933
label ELSE_1933
label IF_END_1933

push constant 0
return



function Square.moveLeft 0
push argument 0
pop pointer 0
// if
push this 0
push constant 1
gt

not
if-goto ELSE_2289
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 2
add

push constant 1
sub

push this 1
push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
// let x statement
push this 0
push constant 2
sub

pop this 0

// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push constant 1
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
goto IF_END_2289
label ELSE_2289
label IF_END_2289

push constant 0
return



function Square.moveRight 0
push argument 0
pop pointer 0
// if
push this 0
push this 2
add

push constant 510
lt

not
if-goto ELSE_2636
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 1
push this 0
push constant 1
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
// let x statement
push this 0
push constant 2
add

pop this 0

// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor 1

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push this 0
push this 2
add

push constant 1
sub

push this 1
push this 0
push this 2
add

push this 1
push this 2
add

call Screen.drawRectangle 4

pop temp 0
goto IF_END_2636
label ELSE_2636
label IF_END_2636

push constant 0
return


