function Bat.new
push 0
call Memory.alloc 1
pop pointer 0
// let x statement
push argument 0
pop this 0

// let y statement
push argument 1
pop this 1

// let width statement
push argument 2
pop this 2

// let height statement
push argument 3
pop this 3

// let direction statement
// 2
push constant 2
pop this 4

// call show 0
push argument 0
// expressionList
call show

pop temp 0
// this
push pointer 0
return



function Bat.dispose
push argument 0
pop pointer 0
// call Memory.deAlloc 1
// expressionList
// this
push argument 0
call Memory.deAlloc

pop temp 0
push constant 0
return



function Bat.show
push argument 0
pop pointer 0
// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor

pop temp 0
// call draw 0
push argument 0
// expressionList
call draw

pop temp 0
push constant 0
return



function Bat.hide
push argument 0
pop pointer 0
// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor

pop temp 0
// call draw 0
push argument 0
// expressionList
call draw

pop temp 0
push constant 0
return



function Bat.draw
push argument 0
pop pointer 0
// call Screen.drawRectangle 4
// expressionList
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 2
add

push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 3
add

call Screen.drawRectangle

pop temp 0
push constant 0
return



function Bat.setDirection
push argument 0
pop pointer 0
// let direction statement
push argument 0
push argument 0
pop pointer 0
pop this 4

push constant 0
return



function Bat.getLeft
push argument 0
pop pointer 0
push argument 0
pop pointer 0
push this 0
return



function Bat.getRight
push argument 0
pop pointer 0
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 2
add

return



function Bat.setWidth
push argument 0
pop pointer 0
// call hide 0
push argument 0
// expressionList
call hide

pop temp 0
// let width statement
push argument 0
push argument 0
pop pointer 0
pop this 2

// call show 0
push argument 0
// expressionList
call show

pop temp 0
push constant 0
return



function Bat.move
push argument 0
pop pointer 0
// if
push argument 0
pop pointer 0
push this 4
// 1
push constant 1
eq

not
if-goto IF_undefined
// let x statement
push argument 0
pop pointer 0
push this 0
// 4
push constant 4
sub

push argument 0
pop pointer 0
pop this 0

// if
push argument 0
pop pointer 0
push this 0
// 0
push constant 0
lt

not
if-goto IF_undefined
// let x statement
// 0
push constant 0
push argument 0
pop pointer 0
pop this 0

goto ELSE_undefined
label IF_undefined
label ELSE_undefined

// call Screen.setColor 1
// expressionList
// false
push constant 0
call Screen.setColor

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 2
add

// 1
push constant 1
add

push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 2
add

// 4
push constant 4
add

push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 3
add

call Screen.drawRectangle

pop temp 0
// call Screen.setColor 1
// expressionList
// true
push constant 1
neg
call Screen.setColor

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push argument 0
pop pointer 0
push this 0
push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 0
// 3
push constant 3
add

push argument 0
pop pointer 0
push this 1
push argument 0
pop pointer 0
push this 3
add

call Screen.drawRectangle

pop temp 0
goto ELSE_undefined
label IF_undefined
label ELSE_undefined

push constant 0
return


