function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
// call Screen.clearScreen 0
// expressionList
call Screen.clearScreen 0

pop temp 0
// let batWidth statement
push constant 50
pop this 6

// let bat statement
// call Bat.new 4
// expressionList
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4

pop this 0

// let ball statement
// call Ball.new 6
// expressionList
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6

pop this 1

// call Ball.setDestination 3
push this 1
// expressionList
push constant 400
push constant 0
call Ball.setDestination 3

pop temp 0
// call Screen.drawRectangle 4
// expressionList
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4

pop temp 0
// call Output.moveCursor 2
// expressionList
push constant 22
push constant 0
call Output.moveCursor 2

pop temp 0
// call Output.printString 1
// expressionList
// "Score: 0"
push constant 8
call String.new 1
pop temp 0
push temp 0
push constant 83
call String.appendChar 2
push temp 0
push constant 99
call String.appendChar 2
push temp 0
push constant 111
call String.appendChar 2
push temp 0
push constant 114
call String.appendChar 2
push temp 0
push constant 101
call String.appendChar 2
push temp 0
push constant 58
call String.appendChar 2
push temp 0
push constant 32
call String.appendChar 2
push temp 0
push constant 48
call String.appendChar 2

call Output.printString 1

pop temp 0
// let exit statement
// false
push constant 0
pop this 3

// let score statement
push constant 0
pop this 4

// let wall statement
push constant 0
pop this 2

// let lastWall statement
push constant 0
pop this 5

// this
push pointer 0
return



function PongGame.dispose 0
push argument 0
pop pointer 0
// call Bat.dispose 1
push this 0
// expressionList
call Bat.dispose 1

pop temp 0
// call Ball.dispose 1
push this 1
// expressionList
call Ball.dispose 1

pop temp 0
// call Memory.deAlloc 1
// expressionList
// this
push pointer 0
call Memory.deAlloc 1

pop temp 0
push constant 0
return



function PongGame.newInstance 0
// let instance statement
// call PongGame.new 0
// expressionList
call PongGame.new 0

pop static 0

push constant 0
return



function PongGame.getInstance 0
push static 0
return



function PongGame.run 1
push argument 0
pop pointer 0
// while
label WHILE_1942
push this 3
not
not
if-goto WHILE_END_1942
// while
label WHILE_2016
push local 0
push constant 0
eq

push this 3
not
and

not
if-goto WHILE_END_2016
// let key statement
// call Keyboard.keyPressed 0
// expressionList
call Keyboard.keyPressed 0

pop local 0

// call Bat.move 1
push this 0
// expressionList
call Bat.move 1

pop temp 0
// call PongGame.moveBall 1
push pointer 0
// expressionList
call PongGame.moveBall 1

pop temp 0
// call Sys.wait 1
// expressionList
push constant 50
call Sys.wait 1

pop temp 0
goto WHILE_2016
label WHILE_END_2016

// if
push local 0
push constant 130
eq

not
if-goto ELSE_2222
// call Bat.setDirection 2
push this 0
// expressionList
push constant 1
call Bat.setDirection 2

pop temp 0
goto IF_END_2222
label ELSE_2222
// if
push local 0
push constant 132
eq

not
if-goto ELSE_2297
// call Bat.setDirection 2
push this 0
// expressionList
push constant 2
call Bat.setDirection 2

pop temp 0
goto IF_END_2297
label ELSE_2297
// if
push local 0
push constant 140
eq

not
if-goto ELSE_2372
// let exit statement
// true
push constant 1
neg
pop this 3

goto IF_END_2372
label ELSE_2372
label IF_END_2372

label IF_END_2297

label IF_END_2222

// while
label WHILE_2509
push local 0
push constant 0
eq

not
push this 3
not
and

not
if-goto WHILE_END_2509
// let key statement
// call Keyboard.keyPressed 0
// expressionList
call Keyboard.keyPressed 0

pop local 0

// call Bat.move 1
push this 0
// expressionList
call Bat.move 1

pop temp 0
// call PongGame.moveBall 1
push pointer 0
// expressionList
call PongGame.moveBall 1

pop temp 0
// call Sys.wait 1
// expressionList
push constant 50
call Sys.wait 1

pop temp 0
goto WHILE_2509
label WHILE_END_2509

goto WHILE_1942
label WHILE_END_1942

// if
push this 3
not
if-goto ELSE_2729
// call Output.moveCursor 2
// expressionList
push constant 10
push constant 27
call Output.moveCursor 2

pop temp 0
// call Output.printString 1
// expressionList
// "Game Over"
push constant 9
call String.new 1
pop temp 0
push temp 0
push constant 71
call String.appendChar 2
push temp 0
push constant 97
call String.appendChar 2
push temp 0
push constant 109
call String.appendChar 2
push temp 0
push constant 101
call String.appendChar 2
push temp 0
push constant 32
call String.appendChar 2
push temp 0
push constant 79
call String.appendChar 2
push temp 0
push constant 118
call String.appendChar 2
push temp 0
push constant 101
call String.appendChar 2
push temp 0
push constant 114
call String.appendChar 2

call Output.printString 1

pop temp 0
goto IF_END_2729
label ELSE_2729
label IF_END_2729

push constant 0
return



function PongGame.moveBall 5
push argument 0
pop pointer 0
// let wall statement
// call Ball.move 1
push this 1
// expressionList
call Ball.move 1

pop this 2

// if
push this 2
push constant 0
gt

push this 2
push this 5
eq

not
and

not
if-goto ELSE_3300
// let lastWall statement
push this 2
pop this 5

// let bouncingDirection statement
push constant 0
pop local 0

// let batLeft statement
// call Bat.getLeft 1
push this 0
// expressionList
call Bat.getLeft 1

pop local 1

// let batRight statement
// call Bat.getRight 1
push this 0
// expressionList
call Bat.getRight 1

pop local 2

// let ballLeft statement
// call Ball.getLeft 1
push this 1
// expressionList
call Ball.getLeft 1

pop local 3

// let ballRight statement
// call Ball.getRight 1
push this 1
// expressionList
call Ball.getRight 1

pop local 4

// if
push this 2
push constant 4
eq

not
if-goto ELSE_3602
// let exit statement
push local 1
push local 4
gt

push local 2
push local 3
lt

or

pop this 3

// if
push this 3
not
not
if-goto ELSE_3710
// if
push local 4
push local 1
push constant 10
add

lt

not
if-goto ELSE_3740
// let bouncingDirection statement
push constant 1
neg
pop local 0

goto IF_END_3740
label ELSE_3740
// if
push local 3
push local 2
push constant 10
sub

gt

not
if-goto ELSE_3853
// let bouncingDirection statement
push constant 1
pop local 0

goto IF_END_3853
label ELSE_3853
label IF_END_3853

label IF_END_3740

// let batWidth statement
push this 6
push constant 2
sub

pop this 6

// call Bat.setWidth 2
push this 0
// expressionList
push this 6
call Bat.setWidth 2

pop temp 0
// let score statement
push this 4
push constant 1
add

pop this 4

// call Output.moveCursor 2
// expressionList
push constant 22
push constant 7
call Output.moveCursor 2

pop temp 0
// call Output.printInt 1
// expressionList
push this 4
call Output.printInt 1

pop temp 0
goto IF_END_3710
label ELSE_3710
label IF_END_3710

goto IF_END_3602
label ELSE_3602
label IF_END_3602

// call Ball.bounce 2
push this 1
// expressionList
push local 0
call Ball.bounce 2

pop temp 0
goto IF_END_3300
label ELSE_3300
label IF_END_3300

push constant 0
return


