function Main.main
// call Output.printInt
// expressionList
// 1
push constant 1
// 2
push constant 2
// 3
push constant 3
Math.multiply

add

call Output.printInt

pop temp 0
push constant 0
return


